#home-page {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 2rem);
}

#time-box {
  border-radius: 10px;
  border: 1px solid $lightBorder;
  box-shadow: $boxShadow;

  .time-box-row {
    display: flex;
  }

  .time-box-row:nth-child(2) {
    border-top: 1px solid $lightBorder;
  }

  #client {
    flex-grow: 1;
    border-right: 1px solid $lightBorder;
    padding: 0 1rem;

    #client-select {
      font-size: 1rem;
      width: 100%;
      outline: none;
      background-color: transparent;
      margin: none;
      padding: 1rem 0;
    }
  }

  #date, #time, #description {
    flex-grow: 1;
    display: flex;
    height: 100%;
    transition: 300ms;

    input {
      flex-grow: 1;
      padding: 1rem;
    }
  }

  #date {
    border-right: 1px solid $lightBorder;
  }

  #save {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
}

#time {
  overflow: auto;
}

.time-accordion {
  .expand {
    background-color: white;
    border: 1px solid $lightBorder;
    border-radius: 10px;
    color: black;
    outline: none;
    box-shadow: $boxShadow;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: .2s linear;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;

    .expand-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        margin-left: 0.75rem;
      }
    }

    .expand-item:nth-child(2) {
      min-width: 5rem;
    }

    &:hover {
      background-color: lighten($primary, 60%);
    }

    &:active {
      background-color: lighten($primary, 55%);
    }
  }

  .content {
    overflow: hidden;
    transform-origin: top;
    transition: 300ms;
    padding: 0.5rem;
  }

  .collapsed {
    display: none;
    max-height: 0;
  }

  .day {
    border: 1px solid $lightBorder;
    border-radius: 10px;
    padding: 0.5rem 1rem; 
    margin-bottom: 1rem;

    table { 
      th {
        text-align: left;
        font-weight: 300;
      }
    
      th:nth-child(3) {
        width: 3rem;
    
        div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    
      th:nth-child(4) {
        width: 3rem;
      }
    }
  }
}
